#game-board{
  background-color:black;
    position: relative;
  text-align: center;
}

.game-intro{
 display:flex;
 flex-direction: column;
 flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
} 

#intro-image{
    width:100vw;
    height:100vh;
   
}
.instructions{
  font-size: xx-large;
    color: white;
    position: absolute;
    text-align: center;
    top: 38vh;
    left: 45vw;   
   
}
.list-of-instructions{
    font-size: larger;
    color: white;
    position: absolute;
    text-align:center;
    top: 48vh;
    left: 35vw;
   
}
#start-button{
 position: absolute;
 top: 80vh;
left: 43vw;  

   
}
#gameover-image{
    width:100vw;
    height:100vh;
}

.game-over{
position: relative;
  text-align: center;
  color: White;
}

#restart-button{ 
position: absolute;
top: 79%;
left: 42%;  
}

.player-score{
  font-size: xx-large;
  position: absolute; 
    top: 40%;
    left: 35%;
}

.scores{
  font-size: larger;
  position: absolute;
    text-align: center;
    top: 35%;
    left: 55%;
}
